ExpenseTracker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ExpenseTracker.xcodeproj/project.xcworkspace/xcuserdata/critz.xcuserdatad/UserInterfaceState.xcuserstate
ExpenseTracker.xcodeproj/project.xcworkspace/xcuserdata/ehabamer.xcuserdatad/UserInterfaceState.xcuserstate
ExpenseTracker.xcodeproj/project.xcworkspace/xcuserdata/marinbenc.xcuserdatad/UserInterfaceState.xcuserstate
ExpenseTracker.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
ExpenseTracker.xcodeproj/xcshareddata/IDETemplateMacros.plist
ExpenseTracker.xcodeproj/xcshareddata/xcschemes/ExpenseTracker.xcscheme
